[submodule "test-task-nextjs"]
	path = test-task-nextjs
	url = https://github.com/sirkostya009/test-task-nextjs
[submodule "javafx-test-task"]
	path = javafx-test-task
	url = https://github.com/sirkostya009/javafx-test-task
[submodule "wow-another-test-task"]
	path = wow-another-test-task
	url = https://github.com/sirkostya009/wow-another-test-task
[submodule "test-task"]
	path = test-task
	url = https://github.com/sirkostya009/test-task
[submodule "plain-js-test-task"]
	path = plain-js-test-task
	url = https://github.com/sirkostya009/plain-js-test-task
[submodule "date-sort-test-task"]
	path = date-sort-test-task
	url = https://github.com/sirkostya009/date-sort-test-task
[submodule "superb-test-task"]
	path = superb-test-task
	url = https://github.com/sirkostya009/superb-test-task
[submodule "trusteeTestTask"]
	path = trusteeTestTask
	url = https://github.com/sirkostya009/trusteeTestTask
[submodule "decent-test-task"]
	path = decent-test-task
	url = https://github.com/sirkostya009/decent-test-task
[submodule "shopTestTask"]
	path = shopTestTask
	url = https://github.com/sirkostya009/shopTestTask
[submodule "imageProcessingTestTask"]
	path = imageProcessingTestTask
	url = https://github.com/sirkostya009/imageProcessingTestTask
[submodule "weblium-test-task"]
	path = weblium-test-task
	url = https://github.com/sirkostya009/weblium-test-task
